* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #000;
}

.footer {
  font-family: Arial, sans-serif;
  padding: 40px 10%;
  background-color: #000;
  text-align: left;
  color: whitesmoke;
}

.footer-top {
  text-align: center;
  margin-bottom: 30px;
}

.footer-top input {
  padding: 16px;
  margin: 25px;
  width: 500px;
  border: 1px solid #b4b4b4;
  font-size: 16px;
  background: #111;
  color: #fff;
  border-radius: 4px 0 0 4px;
}

.footer-top button {
  padding: 16px 25px;
  background-color: #ff2c37dc;
  border: none;
  font-size: 21px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.footer-top button:hover{
    background-color: #b40000;
}

.footer a {
  color: #c5c5c5;
  font-size: 16px;
  font-weight: 400;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .call {
  margin-bottom: 20px;
  color: #c7c5c5;
}
.footer .call .call_number {
  text-decoration: underline;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  color: #c7c5c5;
}

.footer-links a {
  display: block;
  margin-bottom: 10px;
}

.footer-language {
  margin: 20px 0;
}

.footer-language select {
  padding: 7px 12px;
  background: #111;
  color: #a1a0a0;
  border: 1px solid #757575;
  border-radius: 4px;
}

.footer-bottom {
  font-size: 13px;
  color: #c7c5c5;
  margin-top: 20px;
}

.footer-bottom a {
    color: blue;
}
